doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{siteName}
        
    body
        nav
            ul
                a(href="/")
                    li Home
                if loggedIn 
                    a(href="/recipes")
                        li Trending Recipes 
                    a(href="/recipes/upload-recipe")
                        li Upload Recipe 
                    a(href="/user/profile")
                        li Profile 
                    a(href="/logout")
                        li Logout 
                else
                    a(href="/login")
                        li Login
                    a(href="/join")
                        li Join            
        block potato